# Assignment on Store_sales dataset

**Load the Dataset**

In [151]:
import pandas as pd
df=pd.read_csv(r"C:\Users\cvr\Downloads\store_sales.csv")

**Calculate the total sales for each store across all months.**

In [153]:

df['Total_Sales'] = df.loc[:,'Jan': 'Dec'].sum(axis=1)
total_sales=df[['store_id', 'Total_Sales']]
total_sales

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [155]:
average = df.loc[:,'Jan': 'Dec'].mean()
average

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

**Identify the store with the highest total sales.**

In [174]:

highest = df.loc[df['Total_Sales'].idxmax()]
highest[['store_id','Total_Sales']]

store_id       S_62
Total_Sales     428
Name: 61, dtype: object

**Calculate the total sales for each city.**

In [157]:
city_sales=df.groupby('city')['Total_Sales'].sum()
city_sales

city
Arizona       3951
California    7522
Texas         5939
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [159]:
df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)
stores = df[df['Total_Sales'] > 200]
stores[['store_id', 'Total_Sales']]

   store_id  Total_Sales
0       S_1          356
1       S_2          348
2       S_3          362
3       S_4          270
4       S_5          318
..      ...          ...
95     S_96          370
96     S_97          308
97     S_98          336
98     S_99          346
99    S_100          360

[100 rows x 2 columns]

**Which month had the highest average sales across all stores?**

In [161]:
monthly = df.loc[:,'Jan': 'Dec'].mean()
high=monthly.idxmax()
high

'Aug'

**Which city generated the most revenue?**

In [145]:

city_sales = df.drop(columns=['store_id']).groupby('city').sum()
total_revenue = city_sales.sum(axis=1)
highest_revenue = total_revenue.idxmax()
highest_revenue

'California'