## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [3]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [5]:
auto=pd.read_csv(r"C:\Users\jhosh\Downloads\Automobile.csv")

**Check the head of the DataFrame.**

In [7]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [9]:
auto.shape

(201, 26)

**What is the average Price of all cars in the dataset?**

In [11]:
avg = auto.groupby('make')['price'].mean()
avg

make
alfa-romero      15498.333333
audi             17859.166667
bmw              26118.750000
chevrolet         6007.000000
dodge             7875.444444
honda             8184.692308
isuzu             8916.500000
jaguar           34600.000000
mazda            10652.882353
mercedes-benz    33647.000000
mercury          16503.000000
mitsubishi        9239.769231
nissan           10415.666667
peugot           15489.090909
plymouth          7963.428571
porsche          31400.500000
renault           9595.000000
saab             15223.333333
subaru            8541.250000
toyota            9885.812500
volkswagen       10077.500000
volvo            18063.181818
Name: price, dtype: float64

**Which is the cheapest make and costliest make of car in the lot?**

In [170]:
cheapest_car = auto.loc[auto['price'].idxmin()]
cheapest_car['make']

'subaru'

In [178]:
costliest_car = auto.loc[auto['price'].idxmax()]
costliest_car['make']

'mercedes-benz'

**How many cars have horsepower greater than 100?**

In [31]:
greater = auto[auto['horsepower']>200]
count=len(greater)
count

4

**How many hatchback cars are in the dataset ?**

In [41]:
cars = auto[auto['body_style']=='hatchback']
count=len(cars)
count

68

**What are the 3 most commonly found cars in the dataset?**

In [49]:
car_counts=auto['make'].value_counts()
top_cars=car_counts.head(3)
top_cars

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [105]:
cost=auto[auto['price']==7099]
cost[['make']]

      make
87  nissan

**Which cars are priced greater than 40000?**

In [103]:
cost=auto[auto['price']>40000]
cost[['make']]

             make
15            bmw
70  mercedes-benz
71  mercedes-benz

**Which are the cars that are both a sedan and priced less than 7000?**

In [101]:
cars=auto[(auto['body_style'] == 'sedan') & (auto['price']<7000)]
cars[['make']]

           make
19    chevrolet
24        dodge
42        isuzu
50        mazda
82   mitsubishi
86       nissan
88       nissan
89       nissan
118    plymouth
152      toyota

 **Count the number of unique values in the `fuel_type` column.**

In [80]:
fuel=auto['fuel_type'].unique()
count=len(fuel)
count

2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [99]:
cars=auto[(auto['horsepower']>100) & (auto['horsepower']<200)]
cars[['make','horsepower','price']]

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[85 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [107]:
avg_city_mpg=auto.groupby('body_style')['city_mpg'].mean()
avg_city_mpg

body_style
convertible    20.500000
hardtop        21.625000
hatchback      26.602941
sedan          25.053191
wagon          24.040000
Name: city_mpg, dtype: float64

In [111]:
avg_highway_mpg=auto.groupby('body_style')['highway_mpg'].mean()
avg_highway_mpg

body_style
convertible    26.000000
hardtop        27.250000
hatchback      32.382353
sedan          30.574468
wagon          28.720000
Name: highway_mpg, dtype: float64

**What is the median `price` for each `make`?**

In [117]:
cars=auto.groupby('make')['price'].median()
cars

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [121]:
cars=auto[(auto['wheel_base']>100) & (auto['curb_weight']<2500)]
cars[['make']]

       make
9       bmw
10      bmw
169  toyota
170  toyota
171  toyota
172  toyota
173  toyota

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [125]:
auto['price_per_hp']=auto['price']/auto['horsepower']
auto.describe()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,price_per_hp
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,0.840796,125.189055,98.797015,174.200995,65.889055,53.766667,2555.666667,126.875622,3.329701,3.261741,10.164279,103.263682,5121.393035,25.179104,30.686567,13207.129353,123.301539
std,1.254802,33.572966,6.066366,12.322175,2.101471,2.447822,517.296727,41.546834,0.268166,0.317875,4.004965,37.389372,479.624905,6.423220,6.815150,7947.066342,39.336183
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,72.836207
25%,0.000000,101.000000,94.500000,166.800000,64.100000,52.000000,2169.000000,98.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000,96.543103
50%,1.000000,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000,110.542857
75%,2.000000,150.000000,102.400000,183.500000,66.600000,55.500000,2926.000000,141.000000,3.580000,3.460000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000,140.219298
max,3.000000,256.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,256.910569

**Count how many cars have a `number_of_doors` as `four`.**

In [135]:
cars=auto[auto['number_of_doors']=='four']
count=len(cars)
count

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [154]:
top_cars = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False]).head(5)
top_cars

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,price_per_hp
29,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,1bbl,2.91,3.41,9.6,58,4800,49,54,6479,111.706897
17,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,2bbl,2.91,3.03,9.5,48,5100,47,53,5151,107.312500
87,1,128,nissan,diesel,std,two,sedan,fwd,front,94.5,...,idi,2.99,3.47,21.9,55,4800,45,50,7099,129.072727
155,0,91,toyota,diesel,std,four,hatchback,fwd,front,95.7,...,idi,3.27,3.35,22.5,56,4500,38,47,7788,139.071429
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,2bbl,3.19,3.03,9.0,70,4800,38,47,7738,110.542857

**How many cars have missing values in the `normalized_losses` column?**

In [141]:
missing_values=auto['normalized_losses'].isna()
count=len(missing_values)
count

201

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [ ]:
current_year=2025
auto['car_age']=current_year - auto['year_of_manufacture']

### The END